@{
    ViewBag.Title = "ShowBasket";
}

@model List<BasketVM>
<style>
    .fa-solid {
       
        cursor: pointer;
    }
    .describeIncon:hover {
        background-color: red;
        border-color: red;
        color: white;
    }
    .describeIncon {
        display: block;
        padding: 5px;
        width: 25px;
        height: 25px;
        border: 1px solid gray;
        border-radius: 5px;
        margin:6px 0px;
    }
</style>
<table class="table w-75 m-auto">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Img Src</th>
            <th scope="col">Product Count</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Setting</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td><img width="50" height="50" src="~/img/@item.ImgSrc" /></td>
                <td>@item.ProductCount</td>
                <td>@item.Name</td>
                <td>
                    <a asp-controller="Product" asp-action="IncreaseProduct" asp-route-id="@item.Id"><i class="fa-solid fa-plus describeIncon"></i></a>
                    @item.Price
                    <a asp-controller="Product" asp-action="DecreaseProduct" asp-route-id="@item.Id"><i class="fa-solid fa-minus describeIncon"></i></a>
                </td>
                <td><a style="display:block;margin-top:25px; " asp-controller="Product" asp-action="RemoveProduct" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a></td>
            </tr>
        }

    </tbody>
    
</table>
<div class="w-75 m-auto text-center"><a style="display:block;text-decoration:none;color:red;margin:10px auto;" asp-controller="Product" asp-action="Index">Go To Home</a></div>




