@{
    ViewBag.Title = "Detail";
}

@model DetailStreetVM

<div class="col-lg-12 grid-margin stretch-card ">
    <div class="card">
        <div class="card-body">
            <a asp-action="Create" class="btn btn-outline-success my-3">Create Street</a>
            <h4 class="card-title">Street Table</h4>
            <p class="card-description">
                Add class <code>.table</code>
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>City</th>
                            <th>Country</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.Name</td>
                            <td><a asp-controller="City" asp-action="Detail" asp-route-id="@Model.City.Id">@Model.City.Name</a></td>
                            <td><a asp-controller="Country" asp-action="Detail" asp-route-id="@Model.City.Country.Id">@Model.City.Country.Name</a></td>

                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
